<!DOCTYPE html>
<html>
<head>
    <include file="Common/header" />
    <link rel="stylesheet" href="__PUBLIC__/css/home/login.css">

    <title>账号中心丨campusleader</title>
</head>

<body>
    <include file="Common/navbar" />
    <div class=" overflow-auto">
        <div class="container">
            <div class="bg-white p-lg re-container transition-all-03">
                <form id="r_form" class="form-horizontal" method="post" action="{:U('Login/reg')}">
                  <fieldset>
                    <legend class="login_header">注册CL<i></i><a href="{:U('Login/index')}" class="pull-right header-right m-t-sm">使用已有账号登录</a></legend>
                    <div class="input-g">
                        <span class="input-icon glyphicon glyphicon-earphone"></span>
                        <input class="from-input" type="text" name="tel" id="tel" autocomplete="off" placeholder="手机号" maxlength="11" title="请输入手机号码" required/>
                        <img id="username_check" src="__PUBLIC__/img/loading.gif">
                        <span class="help-block m-t-sm"></span>
                    </div>
                    <div class="input-g">
                        <span class="input-icon glyphicon glyphicon-user"></span>
                        <input class="from-input" type="text" name="nickname" id="nickname"  autocomplete="off" placeholder="昵称" maxlength="15" title="请输入昵称" required/>
                        <span class="help-block m-t-sm"></span>
                    </div>

                    <div class="input-g">
                        <span class="input-icon glyphicon glyphicon-ice-lolly"></span>
                        <input class="from-input" id="password" type="password" name="password"  placeholder="密码" title="请输入密码" required/>
                        <span class="help-block m-t-sm"></span>
                    </div>

                    <div class="input-g">
                        <span class="input-icon glyphicon glyphicon-ice-lolly"></span>
                        <input class="from-input" id="repassword" type="password" name="repassword" title="确认密码" placeholder="确认密码" />
                        <span class="help-block m-t-sm"></span>
                    </div>
                    
                    <div class="input-g m-r-110">
                        <span class="input-icon glyphicon glyphicon-check"></span>
                        <input id="verify" class="from-input" type="text" placeholder="图形验证码" autocomplete="off" title="图形验证码" required/>
                        <img class="verify" src="{:U('Index/verify')}" title="看不清？点击刷新验证码">
                        <span class="help-block m-t-sm"></span>
                    </div>

                    <div class="input-g m-r-130">
                        <span class="input-icon glyphicon glyphicon-eye-open"></span>
                        <input id="SMS" class="from-input" name="SMS" type="text" placeholder="短信验证码" autocomplete="off" title="短信验证码" required/>
                        <a title="点击获取短信验证码" id="send" href="javascript:void(0)" class="btn" >点击发送短信</a>
                        <span class="help-block m-t-sm"></span>
                    </div>

                    <div class="input-g">
                      
                        <button id="form_submit" data-loading-text="Loading..." type="button" class="btn-submit btn-danger btn-block">注册账号</button>
                      
                    </div>
                  </fieldset>
                </form>
            </div>
        </div>
    </div>

    <include file="Common/footer" />
</body>
    <script type="text/javascript">
        var set_time;
        var check_SMS_url = "{:U('Service/checkSMS')}";
        var SMS_url = "{:U('Service/sendTemplateSMS')}";
        var sight = 0;
        var check_verify_url = "{:U('Login/check_verify')}";
        var check_url = "{:U('Login/check')}";
        var verify_src = "{:U('Index/verify')}";
        var check_nickname_url = "{:U('Login/nickname_check')}";
        $(function(){
            <if condition="session('?message')">
            alert("<php>echo session('message')</php>");
            <php>session('message',null);</php>
            </if>
        })
    </script>
    <script src="__PUBLIC__/js/home/reg.js"></script>
    <script src="__PUBLIC__/js/home/verify.js"></script>
</html>