<!DOCTYPE html>
<html>
<head>
    <include file="Common/header" />
    <link rel="stylesheet" href="__PUBLIC__/css/home/InterviewFocus.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/List.css">

    <title>搜索'{$keyword}'结果</title>
</head>

<body>
    <include file="Common/navbar" />

    <div class="container m-t-sm" style="max-width:980px;">
        <div class="row">
            <div class="col-sm-12">
            	<div class="bg-white p-sm">
            		搜索<font color="red">'{$keyword}'</font>结果
            	</div>
                <include file="IndexContent/List" />
                <button type="button" id="load" class="btn bg-main btn-sm btn-block m-b-md m-t-md">加载更多</button>
            </div>
        </div>
    </div>

    <include file="IndexContent/newsTemplate" />
    <include file="Common/footer" />
</body>
<script>
    var key = "{$keyword}";
    var DATAPATH = "{:C('__DATA__')}";
    var url = '{:U('News/search_load')}';
    var page = 1;
    $(function(){
        $('.list-img>img').scrollLoading();
    })
</script>
<script src="__PUBLIC__/assets/artTemplate/js/artTemplate.js"></script>
<script src="__PUBLIC__/js/assets/jquery.scrollLoading.js"></script>
<script src="__PUBLIC__/js/home/search_l.js"></script>
</html>