

	<div class="row">
		<div class="col-xs-12 m-t-md">
			<a href="#" class="btn btn-primary pull-right btn-sm" data-toggle="modal" data-target="#myModal">添加类型</a>
			<h3 class="page-header">话题类型管理</h3>
		</div>
		<div class="col-xs-12 col-md-7">
			<table class="table table-bordered">
				<tr>
					<th>类型</th>
					<th>操作</th>
				</tr>
				<volist name="List" id="vo">
				<tr>
					<td><input type="text" class="form-control" value="{$vo.type}" maxlength="10"/></td>
					<td>
						<a href="javascript:void(0)" data-id="{$vo.id}" class="btn btn-default m-r-sm change">修改</a>
					</td>
				</tr>
				</volist>

			</table>
		</div>
	</div>
	



	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <form class="form-horizontal" method="post" action="{:U('TopicType/add')}">
	      <div class="modal-body">
	        
		        <div class="form-group">
		          <label class="col-lg-2 control-label">分类名</label>
		          <div class="col-lg-10">
		            <input type="text" class="form-control" name="type" placeholder="输入话题类型名" maxlength="10" required />
		          </div>
		        </div>
		    
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
	        <button type="submit" class="btn btn-primary btn-sm" data-loading-text="Loading...">添加</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>


<script type="text/javascript">
	var change_type_url = "{:U('TopicType/change')}";
	$(function(){
		$('.change').click(function(event) {
			var _self = $(this);
			var type_text = $.trim(_self.parents('td').siblings('td').first().find('input').val());
			var id = _self.attr('data-id');
			change_t(id,type_text,change_type_url);
		});


		$('button[type="submit"]').click(function(event) {
			var $btn = $(this).button('loading');
		});
		
	})

	function change_t(id,type,url){
		$.ajax({
			url: url,
			type: 'post',
			dataType: 'html',
			data: {id:id,type:type},
			success:function(data){
				var result = $.parseJSON(data);
				if(result.Code == '200')
					$.toaster({ priority : 'success', title : '√', message : result.Message});
				else
					$.toaster({ priority : 'danger', title : '×', message : result.Message});
			},	
			error:function(xhr){
				alert('加载失败');
			}
		})
	}
</script>
	