<h4 class="m-l-xs">排行</h4>
<volist name="List" id="vo">
	<if condition="$vo['count'] neq '0'">
	<div class="m-b-sm">
	    <div class="media media-container">
	      <a class="pull-left" href="{:U('/u/'.$vo['id'],'',false,false)}">
	        <img class="media-object u_icon hot" src="{:C('__DATA__')}/login_thumb/{$vo.icon|default='default.jpg'}" alt="..." >
	      </a>
	      <div class="media-body tc-gray9">
	        <a href="{:U('/u/'.$vo['id'],'',false,false)}" class="media-heading">{$vo.nickname}</a>
	        <div class="font-12">获得{$vo.count}次赞同</div>
	      </div>
	    </div>
	</div>
	</if>
</volist>