<!DOCTYPE html>
<html>
<head>
    <include file="Common/header" />
    <meta name="baidu-site-verification" content="B8I2uirRPN" />
    <link rel="stylesheet" href="__PUBLIC__/css/IndexFocus.css">
    <link rel="stylesheet" href="__PUBLIC__/css/List.css?v=20150320">


    <title>campusleader_打造最强高校领袖</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="container">
    <div class="bg-white p-md m-b-lg m-t-md" style="font-size:16px;line-height:26px">


        <h1>提思易信息科技有限责任公司</h1><p>
<p>TCC成立于2015年，是一家很年轻的公司，由成都和杭州一群有梦想，敢拼敢做的年轻人发起。一年多来，团队不断发展壮大，逐步向共同的梦想前进。TCC由西华大学陈若兰在校期间构思而成，在种子期被估值价值1亿，被多家媒体报道。</p>
<p>TCC是一家围绕高校需求进行软件创新研发和推广的科技公司，正在自主研发一款高校组团的功能性app团子，现已在IOS以及android应用市场上线，并以极快的速度进行更新迭代，提供给用户更舒适的体验感与更实用的功能。</p>
<p>此外，公司旗下还包括官方网站、自媒体平台以及微信公众号Campus Leader。</p>

<h1>团子</h1>
<p>团子app是一款专注于大学生的社交活动软件，汇聚了海量的男神、女神，提供各种社团服务、交友聚会等，可以随时随地申请加入，结识更多的朋友。也可以在线展示自己的技能、证书，获得更多校友的青睐，得到认可！大学交友、社团管理、能力展示轻松搞定！</p>

<h4>主要功能：</h4>
<p>1、找人：寻找身边的男神女神、牛人大咖，仰慕、学习or勾搭，动起来~</p>
<p>2、交友聚会：还在愁找不到知心人？来这里！还在愁进不到期望中的社团？来这里！还在愁大学无聊，天天蹲寝室？来这里，让你玩到嗨！</p>
<p>3、个人展示：空有一身本领但无法展示，怎么办？别担心，团子可以把你的各种技能、证书、社会实践通过公正公平的方式进行展示，确保你的能力得到认可。助你在个人成长以及职业发展上步步高升！</p>
<p>4、社团服务：社团招新、成员管理、团队风采展示、工作任务分配，一切一切你曾经想做的事情，团子都替你想好了。随时随地与社团保持亲密接触，无限提高凝聚力！</p>
<p>5、团队风采秀气来，任务聚会嗨起来~</p>



        <h1>嘿！我们要做的是一款有情怀的APP</h1>
        <p>在TCC之前，我和朋友合开了一家影楼，这是我的第一个创业项目。也正是因为这个项目，让我不禁感慨：大学生创业太难了！</p>
<p>可不可以做出一款软件，让大学生的创业孵化变得更加简单高效？为了找到这个问题的答案，TCC的模型渐渐浮现在我的脑海里。</p>
<p>报纸新闻上动辄就说是“最难就业年”。然而我通过搜集整合信息发现，如今的大学生，愁的不是工作，而是工作质量。社会需求与校内资源的低效对接，是造成大学生找不到工作，创业者找不到团队，企业找不到人才的主要问题。而TCC的使命，就是通过实名制注册，为每一位大学生以及团队贴上专属标签，从而进行人才资源的线上高效对接。例如一个技术团队想创业，需要找寻运营推广人才，在以前，他需要在线下通过很多的资源找人，花费大量的资金成本和时间成本，而最终找到的人是不是那个MR Right，尚且需要打一个问号。但通过TCC，他只需要搜索相应的标签，便可以找到自己需要的人才列表，再通过浏览他们的社会评价最终选定合作对象。换句话说，科学家研究发现通过七个人就可以联系上地球上任何一个人，现在你和你想结识的人，只差一个TCC。</p>
<p>创业之初，我在空间日志写了这样一句话：“我不想做一个带着一群人跳坑的人，我想做一个开路的人。”几乎是在TCC的想法萌芽的一开始，我决定收拾行囊，一个人，从成都出发，跨越2160公里，先后前往武汉、上海、南京、重庆进行考察。不知天高地厚在上海博将资本进行路演，甚至面对企业经理的不断质疑直接拍桌说：“你再打断我我就不讲了！”。幸运的是，我的牛劲儿和冲劲儿也不全是撒欢，实践的历炼中我更加明晰了梦想的方向，冲出了一条自己的阳关道。在考察过程中，我结识了一批志同道合的队友，他们有的是金融公司总监，有的是策划经验丰富的校园领袖，这些人与我一拍即合，成为TCC团队的一员。在和团队沟通的过程中，我将对APP的功能构想更加完善化，最终将TCC定位为：专注大学生组团协作的社交平台。APP中包括搜人、组团、管理、协作、社交等多重功能。同时具有工具的属性和社交的特性，力图打造一款专属于大学生并且真正解决大学生需求的高效软件。</p>
<p>产品模型初步形成，我回到学校开始组建团队。在多方的支持下，我成功地在短时间内筹集到了自己的在校技术团队和策划团队，快速地注册了公司，找了专业的技术公司进行APP开发。并且在APP交由技术公司制作的过程中，我带领新组建的学生团队去杭州接策划工作进行训练，果断拒绝掉个人出资的200万元。因为我一直坚持，我要找的不止是投资，更重要是真正认可我们产品价值的人。做到这个地步，距萌发TCC想法那天只有三个月。令我没有想到的是，TCC在种子期便被投融界估值一亿。</p>
<p>然而创业既可能是通向成功的高铁，也可能是浇灭热情的冷水。本以为一切都会按原计划有条不紊地开展下去时，我原本集结的团队却在低落时支离破碎，紧接着又遭遇科技公司一次次地拖延APP的提交时间。有过泄气和受挫，但没有停滞。我快速地通过学校领导组建起了新的团队，他们有的是进行过多次大型活动策划的创意达人，有的是思维灵活行动迅速的校园记者，有的是地推经验丰富的推广能手。就这样，一群敢想敢做的人聚集起来，构成了这样一个有情怀的团队。然后，我自己组建了一支由前腾讯、百度、华为等多位技术大牛为核心的技术团，负责整个项目的APP研发工作。在此期间，团队参加多个创业比赛并获奖，传奇事迹也被各方大量报道。越来越多的个人和团队主动找上门希望加入，有合作意向的投资商数量也不断增加。TCC的价值正逐渐被越来越多的人看到。</p>
<p>如今，TCC团队大部分为平均年龄22岁的在校大学生，辅以来自各行业认可TCC价值的前辈的引导。成立了技术部、媒体部、策划部、公关部等多个部门。TCC是一个不仅有朝气，更有志向有情怀的APP，未来的它，也许会成为大学生电子设备中最必不可少的软件，无论是想创业找战友，亦或组建兴趣团队找伙伴,无论是部门会议在线签到，亦或是想单纯地约饭K歌。TCC说，需要组团的地方，你只管玩，麻烦的事都交给TCC!</p>
<p>若是你看到这篇文章并且对TCC感兴趣，请加入QQ种子群518520777，和我们一起期待这个孩子呱呱坠地的那一刻。</p>



    </div>
    </div>
    <include file="Common/footer" />
</body>
<script src="__PUBLIC__/js/focus.js"></script>
<script src="__PUBLIC__/js/sidefixed.js"></script>
<script src="__PUBLIC__/js/side_list.js"></script>
</html>