<!DOCTYPE html>
<html>
<head>
    <include file="Common/header" />

    <title>campusleader_打造最强高校领袖</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="container">
    <div class="bg-white p-md m-b-lg m-t-md" style="font-size:16px;">

        <h2>加入我们</h2>
        <h4>招聘邮箱:tccxxkj@163.com</h4>
        <h4>TCC伙伴群（QQ）：518520777</h4>
        <h2>联系我们</h2>
        <h3>西南地区</h2>
        <h4>微信：lijingtian007</h4>
        <h4>QQ：1520355833</h4>
        <h4>投稿邮箱：1520355833@qq.com</h4>
        <h3>华东地区</h2>
        <h4>微信：lhm199522</h4>
        <h4>QQ：741109942</h4>
        <h4>投稿邮箱：741109942@qq.com</h4>

    </div>
    </div>
    <include file="Common/footer" />
</body>

</html>