<!DOCTYPE html>
<html>
<head>
    <include file="Common/header" />

    <title>campusleader_打造最强高校领袖</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="container">
    <div class="bg-white p-md m-b-lg m-t-md" style="font-size:16px;">
        <h2>Wanted 1：种子团队/用户</h2>
        <p>种子团队——根据团队的积分活力值，我们会与会找人合作，为团队匹配不同等级的团队实践，还将有1000-10000的（元）奖励回报~</p>
<p>种子用户——加入团子（app）的第一批种子用户，不仅能享受到赞助、实践、实习、就业等回报，还能奖励零花钱~</p>
<h2>wanted 2：TCC创业合伙人</h2>
<p>如果你也愿意和TCC的团队一起创业，来完成这件服务我们自己的事业，和TCC的成员们一起成长与收获，那就快快行动吧！我们衷心地欢迎每一个愿意加入我们的小伙伴，和我们一起拥抱未来！如果你遗憾地与我们错过，我们也将为你提供在此期间辛勤付出的实习证明，并且优先为你匹配优质的就业机会（可口可乐、腾讯、新浪、华为等实习OFFER）。</p>


    </div>
    </div>
    <include file="Common/footer" />
</body>

</html>