<if condition="count($CommentList) neq 0">
<volist name="CommentList" id="vo">
<div class="media media-container list">
  <a class="pull-left" href="{:U('/u/'.$vo['sender_id'],'',false,false)}" data-toggle="tooltip" data-placement="bottom" title="{$vo.sender_nickname}">
    <img class="media-object u_c_icon" src="{$vo.sender_icon}" alt="..." >
  </a>
  <div class="media-body">
    <div class="c{$vo.c_id} transition-all-1">
      <a href="{:U('/u/'.$vo['sender_id'],'',false,false)}" class="media-heading a_user">{$vo.sender_nickname}</a> - <span class="font-12 tc-gray9">{$vo.time}</span>
      
      <div class="comment-content">
          {$vo.content}
      </div>
      <div class="m-t-xs over-h">
        {:W('TopicImg/TopicImg',array('type'=>'2','id'=>$vo['c_id']))} 
      </div>
    </div>
    <div class="media-op m-t-xs">
        {:W('TopicZan/TopicZan',array('type'=>'2','id'=>$vo['c_id'],'zan_count'=>$vo['zan']))}
        
        <a class="op-group-item i_reply" href="javascript:void(0)"><span title="评论" class="iconfont icon-pingjia">  <php>echo count($vo['reply']);</php></span></a>

    </div>






    <!-- 回复 -->
    <div class="replay-container">

      <!-- 回复item -->
      <volist name="vo['reply']" id="rvo">
      <div class="m-t-sm c{$rvo.c_id} transition-all-1">
        <div class="media media-container border-b">
          <a class="pull-left" href="{:U('/u/'.$rvo['sender_id'],'',false,false)}" data-toggle="tooltip" data-placement="bottom" title="{$rvo.sender_nickname}">
            <img class="media-object u_c_icon" src="{$rvo.sender_icon}" alt="..." >
          </a>
          <div class="media-body">
            <if condition ="session('login') neq $rvo['sender_id']">
            <a href="javascript:void(0)" data-user="{$rvo.sender_id}" class="pull-right font-12 m-t-xs m-l-sm replay-to">回复</a>
            </if>
            <a href="{:U('/u/'.$rvo['sender_id'],'',false,false)}" class="media-heading a_user">{$rvo.sender_nickname}</a> - <span class="font-12 tc-gray9"> {$rvo.time}</span>
            
            <div class="m-b-sm line-h22">
                 {$rvo.content}
            </div>
          </div>
        </div>
      </div>
      </volist>
      <!-- /回复item -->

    </div>
    <!-- /回复 -->

    <!-- 回复input -->
    <div class="replay-input m-t-sm" style="display:none">
        <div class="panel panel-default border-no shadow-no">
          <div class="panel-body p-no">
            <textarea class="form-control to_input"  type="text" placeholder="你想说些什么吗。。。" rows = 1></textarea>
            <div class="text-right m-t-sm comment-op">
              <a class="btn pull-left btn-sm emoji m-r-xs" href="javascript:void(0)"  style="border: 1px solid #eee;">: )</a>
  
              <a class="btn btn-info btn-sm c-submit" data-cid='{$vo.c_id}' data-loading-text="提交中..." href="javascript:void(0)">评论</a>
              <a class="btn btn-default btn-sm c_close" href="javascript:void(0)">取消</a>
              
            </div>
          </div>
        </div>
    </div>
    <!-- /回复input -->

  </div>


  
</div>
</volist>

<else />
<div class="text-center tc-gray9" style="height:200px;font-size:16px;line-height:173px;background:#fff;">
    <span class="tc-gray9">暂无评论</span>
</div>

</if>