
<volist name="List" id="vo">

<div class="m-sm p-b-sm border-b">
  <div class="media media-container list">
    <a class="pull-left" href="{:U('/u/'.$vo['user_id'],'',false,false)}" data-toggle="tooltip" data-placement="bottom" title="{$vo.user_nickname}">
      <img class="media-object u_icon" src="__PUBLIC__/img/tloading.jpg" data-url="{:C('__DATA__')}/login_thumb/{$vo.user_icon|default='default.jpg'}"  alt="..." >
    </a>
    <div class="media-body ">
      <a href="{:U('/t/'.$vo['t_id'])}" class="media-heading">{$vo.t_title}</a>
      <a href="javascript:void(0)" class="pull-right font-12 out-hover uninterested">不感兴趣</a>
      <div class="media-content tc-gray9">
          <a  href="{:U('Topic/index',array('t'=>$vo['type_id']))}" class="topic-type">{$vo.type}</a>
          ·
          {$vo.discuss_count}个人在讨论
          ·
          <if condition="$vo['top_user_nickname'] neq ''">
          <a href="{:U('/u/'.$vo['top_user_id'],'',false,false)}">{$vo.top_user_nickname}</a>
          ·
          {$vo.update_time}发表了新评论
          ·
          <else />
          {$vo.update_time}
          ·
          </if>
          {$vo.t_browse}次浏览
      </div>
      {:W('TopicImg/TopicImg',array('type'=>'1','id'=>$vo['t_id']))} 
      <div class="media-op m-t-xs">
          {:W('TopicZan/TopicZan',array('type'=>'1','id'=>$vo['t_id'],'zan_count'=>$vo['t_zan']))}
          <a class="op-group-item i_reply" href="javascript:void(0)"><span title="评论" class="iconfont icon-pingjia"> {$vo.comment_count}</span></a>
          <div class="btn-group pull-right share_click">
            <a href="javascript:void(0)" class="dropdown-toggle op-group-item" data-toggle="dropdown" aria-expanded="false"><span title="评论" class="glyphicon glyphicon-share"> </span> 分享</a>
            <ul class="dropdown-menu">
              <li><a class="jiathis_button_cqq" href="javascript:void(0)"><span class="iconfont icon-qq"> </span>QQ</a></li>
              <li><a class="jiathis_button_weixin" href="javascript:void(0)"><span class="iconfont icon-weixin"> </span>微信</a></li>
              <li><a class="jiathis_button_qzone" href="javascript:void(0)"><span class="iconfont icon-qzone"> </span>QQ空间</a></li>
              <li><a class="jiathis_button_tsina" href="javascript:void(0)"><span class="iconfont icon-weibo"> </span>微博</a></li>
            </ul>
          </div>
      </div>
      <div class="replay-container">
        <volist name="vo['comment_list']" id="cvo">
          <div class="m-t-sm"><div class="media media-container"><a class="pull-left" href="{$cvo.sender_url}" data-toggle="tooltip" data-placement="bottom" title="{$cvo.sender_nickname}" data-original-title="游客1"><img class="media-object u_c_icon" src="__PUBLIC__/img/tloading.jpg" data-url="{$cvo.sender_icon}" alt="..."></a><div class="media-body"><a href="{$cvo.sender_url}" class="media-heading a_user">{$cvo.sender_nickname}</a> - <span class="font-12 tc-gray9">{$cvo.time}</span><div class="m-b-sm line-h22">{$cvo.content} 
            <if condition = "$cvo['picture_count'] neq '0'">
              <for start="0" end="$cvo['picture_count']">
                <span class="glyphicon glyphicon-picture"> </span>&nbsp;
              </for>
            </if>
          </div></div></div></div>
        </volist>
        <if condition="$vo['comment_count'] gt 4">
          <a href="{:U('/t/'.$vo['t_id'])}" class="more-btn">更多..</a>
        </if>

      </div>


    </div>


  </div>
</div>
</volist>



