
<script type="text/javascript">
    var PUBLIC = "__PUBLIC__";
    var dd_load_url = "{:U('Admin/NewsKeyword/loading')}";
</script>
<script type="text/javascript" src="__PUBLIC__/js/admin/admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/admin/keyword.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/admin/keyword.css">
<include file="IssueContent:edhead" />


<form class="form-horizontal" id='new-form' method="post" action="{:U('Apply/publishAction')}" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-sm-12">
            <input type="text" class="form-control" id="title" name="title" placeholder="输入标题" value="" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div id="dd-container" class="dd-container form-control">
                <input type="hidden" id="keyword"  name="keyword"/>
                <!-- <span data-id="1" class="dd-item">成都<span data-role="remove">×</span></span> -->
                <input type="text" data-role="dd-input" class="dd-input" placeholder="输入关键字" style="width: 20em;">
                <ul class="dd-load-list dropdown-menu" style="display:none;"></ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <select class="form-control" name="type" id="type">
              <volist name="TypeList" id="vo">
                  <option value="{$vo.id}">{$vo.type}</option>
              </volist>
            </select>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <textarea name="content" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success btn-sm" id="news-submit" data-loading="提交中...">提交保存</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <img id="file-img" class="img-thumbnail" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTJmMzFiNjE5ZSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MmYzMWI2MTllIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=">
            <input name="file" type="file" id="file" style="display:none"/>
            <button type="button" class="btn btn-default btn-sm btn-file">选择封面</button>
        </div>
    </div>


</form>
