    <link href="__PUBLIC__/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Flot Charts JavaScript -->
    <script src="__PUBLIC__/bower_components/flot/excanvas.min.js"></script>
    <script src="__PUBLIC__/bower_components/flot/jquery.flot.js"></script>
    <script src="__PUBLIC__/bower_components/flot/jquery.flot.pie.js"></script>
    <script src="__PUBLIC__/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="__PUBLIC__/bower_components/flot/jquery.flot.time.js"></script>
    <script src="__PUBLIC__/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="__PUBLIC__/bower_components/raphael/raphael-min.js"></script>
    <script src="__PUBLIC__/bower_components/morrisjs/morris.min.js"></script>
