.header{
    border-bottom: 1px solid #ddd;
}
.header>.header-title{
    font-size: 18px;
    font-weight: 500;
    border-bottom: 3px solid #F65A4A;
    display: inline-block;
    padding: 10px 0;
    margin-bottom: -3px;
    margin-left: 10px;
}
#index-container{
    padding: 20px 5px;
    font-size: 12px;
    width: 100%;
    height: 400px;;
}
.header-content{
    padding: 15px 0;
    border:1px solid #ddd;
    border-radius: 4px;
    display: -webkit-flex; /* Safari */
    display: flex;
    background-color: #F65A4A;
}
.header-content li{
    width: 50%;
    border-right: 1px solid #ddd;
    color:#fff!important;
}
.header-content li:last-child{
    border-right-width: 0;
}
#uv-pv-news-info,#comment-news-info{
    margin-top: 0px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
#comment-manage-container{
    padding: 10px;
}
.comment-order.active,.comment-order.active:hover,.comment-order.active:active,.comment-order.active:focus{
    background-color: #31b0d5;
}