.comment-area {
    width: 100%;
    background: #fff;
    border: solid 1px #ebeff5;
    padding: 10px;
    resize: none;
    height: 40px;
    font-size: 14px;
    -webkit-appearance: none;
    outline: none;
    margin-bottom: 10px;
}
.comment-btn{
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #31b0d5;
    color: #fff;
    display: none;
}
.comment-btn:hover,.comment-btn:focus{
    color: #fff;
    background-color: #2A99B9;
}
.media.m-b-md {
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
}
.media-object.img-circle{
	height: 30px;
	width: 30px;
}
h5.media-heading{
	margin-bottom: 2px;
}
.zan-btn.active{
    color: #F65A4A;
    cursor: default;
}
