.fr-emoticon.fr-emoticon-img{
	display: inline-block;
    width: 20px;
    height: 20px;
}

.form-control,
.form-control:focus {
	border-radius: 2px;
	padding: 6px 8px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}
.modal-dialog{
	max-width: 500px;
    margin: 10px auto;
}
.input[name="img[]"]{
	display: none;
}
.fr-element.fr-view li{
	list-style: inherit!important;
}
.fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i{
	margin: 12px 11.5px!important;
	font-size: 12px!important;
}
.fr-box{
	z-index: 0!important;
}
.fr-btn.fr-command[data-cmd="emoticons"]{
    display: inline-block!important;
}
.fr-toolbar .fr-command.fr-btn{
	color: #666!important;
}
.fr-toolbar .fr-command.fr-btn.fr-active, .fr-popup .fr-command.fr-btn.fr-active {
    color: #1e88e5!important;
    background: 0 0;
}
.fr-toolbar {
	border-width: 1px!important;
	border-color: #eee!important;
}
.line-h22{
	line-height: 22px;
}
.more-btn{
	display: block;
    height: 34px;
    line-height: 34px;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
    color: #999;
    /*transition:none;*/
}
.more-btn:hover{
	color: #fff;
	background-color: #FF9797;
}
.publish-topic{
	padding: 3px 10px;
	display: block;
	font-size: 13px;
	border:1px solid #eee;
	margin: 0 5px 5px 0;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	float: left;
}
.publish-topic.active{
	color: #F84B3A;
	border-color:#F84B3A;
}
.publish-topic.active:after{
	content: '●';
	font-size: 8px;
	color: #F84B3A;
	position: absolute;
	width: 10px;
	height: 10px;
	right: 0;
	top: 0;
}
.media, .media-body{
	overflow:visible;
}

.replay-container{
	display: none;
}
.modal-open .modal{
	padding: 5px!important;
}
.dropdown-menu{
	min-width: 130px;
	left: -40px;
}
.dropdown-menu>li>a {
	padding: 10px 20px;
}
.dropdown-menu>li>a>.iconfont{
	vertical-align: 2px;
}
.btn-group.open .dropdown-toggle{
	box-shadow: none;
	color: #fff;
	background-color: #F65A4A;
}
.m-lr-15{
	margin-right: 15px;
	margin-left: 15px;
}
.p-lr-15{
	padding-right: 15px;
	padding-left: 15px;
}
.topic-container{
	border:1px solid #e6e6e6;
}

.topic-list{
	padding-left: 7px;
}

.topic-list .m-sm.p-b-sm.border-b:last-child{
	border:none!important;
}
.t_u_t_c{
	width: 270px;
	border-left:1px solid #e6e6e6;
	padding: 10px;
}
.topic-main{
	padding-top: 15px;
	width: 890px;
}
.tt-container{
	margin-right: 55px;
	overflow: hidden;
}
.label.bg-main.m-r-sm{
	float: left;
	margin:0 5px 5px 0 ;
	font-size: 12px;
	font-weight: 300;
    padding: .3em .6em;
}
.collection{
	position: absolute;
	right: 0;
	top:0;
}
.t_title{
	display: block;
	margin:0 15px 2px 15px; 
	font-size: 18px;
	color: #333;
	padding-bottom: 11px;
}
.border-b{
	border-bottom:1px solid #e6e6e6;
}
.border-t{
	border-top:1px solid #e6e6e6;
}
.topic-type-container{
	padding: 10px 10px 0 14px;
	overflow: hidden;
}
.table-col{
	display: table-cell;
	vertical-align: top;
}

.topic-item{
	padding:5px 10px;
	margin: 0 13px 13px 0;
	border-radius: 3px;
	border:1px solid #e6e6e6;
	float: left;
}
.topic-item.topic-type{
	padding:2px 5px;
	margin: 0 8px 5px 0;
	border:none!important;
	font-size: 12px;
	background-color: #FF9797;
    color: #fff;
}
.topic-item:hover,
.topic-item.active{
	background-color: #FF8278;
	color: #fff;
	border-color: transparent;
}
.media-body.list{
	line-height: 24px;
}
.media-body .media-heading{
	line-height: 24px;
}
.media-content{
	font-size: 12px;
	margin-top: 3px;
	line-height: 24px;
}
.f-theme,.topic-type{
	padding: 2px 5px;
	background-color: #eee;
	border-radius: 2px;
	color:#666;
}


.replay-input{
	display: none;
}
.u_icon{
	width: 35px;
	height:35px;
	margin: 8px 2px 0 2px;
	border-radius: 3px;
}
.u_c_icon{
	margin-top: 6px;
	width: 35px;
	height:35px;
	border-radius: 3px;
}
.u_icon.hot{
	margin: 4px 0 0 2px;
}
.topic-list>.m-sm.p-b-sm .out-hover{
	display: none;
	color: #aaa;
}
.topic-list>.m-sm.p-b-sm:hover .out-hover{
	display: inline;
}
.media-op{
	line-height: 30px;
}
.media-op .report{
	display: none;
}
.media-op:hover .report{
	display: block;
}
.op-group-item{
	padding: 3px 7px;
	background-color: #f5f5f5;
	color: #aaa;
	border-radius: 2px;
	font-size: 12px;
}
.op-group-item.active,
.op-group-item:hover{
	background-color: #FF9797;
	color: #fff;
}
.media-container{
	padding: 3px 0;
}
.comment-op,
.add-comment{
	position: relative;
	display: none;
}
.sort{
	line-height: 36px;
	padding:6px 0px;
	margin-left: 5px;
	font-size: 12px;

}
.time{
	transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;
}
.sort:hover .time{
	transform:rotate(-180deg);
	-ms-transform:rotate(-180deg); /* Internet Explorer */
	-moz-transform:rotate(-180deg); /* Firefox */
	-webkit-transform:rotate(-180deg); /* Safari 和 Chrome */
	-o-transform:rotate(-180deg); /* Opera */
}
.sort.active{
	border-bottom: 2px solid #F65A4A;
}
.a_user{
	color: #FF9797;
}
.b-color-main{
	border-color: #F65A4A;
}
.up-img{
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 8px 5px 5px 0;
}
.up-img-item{
	width: 100%;
	height: 100%;
	z-index: -1;
}
.up-img-delete{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	display: none;
	font-size: 14px;
	text-align: center;
	line-height: 100px;
	background-color: rgba(0,0,0,.6);
	color: #fff;
}
.active.up-img .up-img-delete,
.up-img:hover .up-img-delete{
	display: block;
	color: #fff;
}
.comment-emoji{
	position: absolute;
    display: none;
    color: #222222;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-top: 10px;
    z-index: 9995;
    text-align: left;
    border: 0px;
    border-top: 5px solid #222222;
	display: none;
	top: 20px;
	cursor: pointer;
}

.to_input{
	overflow:scroll;overflow-y:hidden;;overflow-x:hidden;
	resize: none;
}
.media-picture{
	max-width: 350px;
}
@media (max-width: 992px){
	.media-picture{
		max-width: 220px;
	}
	.topic-container{
		margin:0 -15px;
	}
	.topic-list{
		padding-left: 0;
	}
	.topic-list>.m-sm.p-b-sm:hover .out-hover{
		display: none;
	}
	.topic-main{
		padding-top: 10px;
	}
	.t_title{
		margin: 0 15px;
		font-size: 14px;
		
	}
	.topic-type-container{
		height: 0;
		overflow: hidden;
		padding:0;
		border-bottom: 0 solid #e6e6e6;
	}
	.topic-type-container.active{
		height: auto;
		border-bottom: 1px solid #e6e6e6;
		padding: 10px 10px 0 14px;
		padding-bottom: 5px;
	}
	.topic-item{
		font-size: 12px;
		padding: 3px 6px;
		margin: 0 5px 5px 0;
	}
	.op-group-item{
		padding: 4px 8px;
		font-size: 13px;
	}
	.topic-type-menu{
		margin: 1px 15px 0 0;
		font-size: 16px;
	}
	.media-picture li{
		width:70px;
		height: 70px;
		float: left;
	}
	.media-container{
		padding: 0;
	}
	.up-img{
		width: 60px;
		height: 60px;
	}
	.up-img-delete{
		display: none;
		line-height: 60px;
	}
}