.wait-publish{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 111111;
  display: none;
  top: 0;
  left: 0;
}
.wait-publish img{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top:50%;
  margin: -12px 0 0 -12px;
}