<!DOCTYPE html>
<html>
<head>
    <include file="Common/header" />
    <meta name="KeyWord" content="topic，话题，Campus，Leader，campusleader，高校领袖，高校新闻，高校达人秀。为创业者提供一个展示舞台。">
    <meta name="description" content="Campus Leader是最校园的发声体，带你了解最新鲜的校园资讯，走近不一样的高校领袖，发掘最有意义的大学生活，玩转高逼格广视野的校园生活！">
    <link rel="stylesheet" href="__PUBLIC__/css/home/topic.css?v=20160320">
    <link rel="stylesheet" href="__PUBLIC__/css/assets/viewer.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/topic-pic.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/wait.css">
    <php>session('Message',null);session('ErrorMessage',null);//去除注册完善信息时的session</php>
    <script type="text/javascript" src="__PUBLIC__/js/assets/viewer.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/home/wait.js"></script>
    <if condition ="session('?login')">
      <include file="Common/edhead" />
    </if>
    <script>
    var DATAPATH = "{:C('__DATA__')}";
    var PUBLIC = '__PUBLIC__';
    var page = 1;
    

    </script>

    <title>{$topic.title}-CampusLeader-话题圈</title>
</head>

<body>
    
    <include file="Common/navbar" />
    <div class="container m-t-sm m-b-sm">
            <div class="topic-container bg-white m-b-md">
                <div class="table-col topic-main">
                    <div class="m-lr-15 m-b-md" style="position: relative;">
                      <div class="tt-container">
                        <a class="topic-item topic-type" href="{:U('Topic/index')}">全部</a>
                        <volist name="TypeList" id="vo">
                          <a class="topic-item topic-type" href="{:U('Topic/index',array('t'=>$vo['id']))}">{$vo.type}</a>
                        </volist>
                      </div>
                      {:W('Collection/collection',array('collected'=>$topic['id'],'type'=>2))}
                    </div>
                    <div class="t_title border-b ">
                      {$topic.title}
                    </div>
                    <div class="m-lr-15 m-t-sm line-h22">
                      {$topic.content}
                    </div>
                    <div class="m-lr-15 m-t-sm over-h">
                      {:W('TopicImg/TopicImg',array('type'=>'1','id'=>$topic['id']))}
                    </div>
                    <div class="tc-gray9 p-b-sm m-t-sm m-lr-15 font-12 border-b">
                      {$topic.time}
                      ·
                      {$topic.browse}次浏览
                      ·
                      <a href="{:U('/u/'.$topic['user']['id'],'',false,false)}">{$topic.user.nickname}</a> 
                      · 
                      {:W('Follow/follow',array('follow_id'=>$topic['user']['id']))}
                    </div>
                    <div class="p-lr-15 m-t-sm m-b-sm media-op">
                        {:W('TopicZan/TopicZan',array('type'=>'1','id'=>$topic['id'],'zan_count'=>$topic['zan_count']))}
                        
                        <a id="a_c_p" class="op-group-item m-r-sm" href="javascript:void(0)"><span title="评论" class="iconfont icon-pingjia"></span> 添加评论</a>
                        <div class="btn-group ">
                          <a href="javascript:void(0)" class="dropdown-toggle op-group-item" data-toggle="dropdown" aria-expanded="false"><span title="评论" class="glyphicon glyphicon-share"> </span> 分享</a>
                          <ul class="dropdown-menu">
                            <li><a class="jiathis_button_cqq" href="javascript:void(0)"><span class="iconfont icon-qq"> </span>QQ</a></li>
                            <li><a class="jiathis_button_weixin" href="javascript:void(0)"><span class="iconfont icon-weixin"> </span>微信</a></li>
                            <li><a class="jiathis_button_qzone" href="javascript:void(0)"><span class="iconfont icon-qzone"> </span>QQ空间</a></li>
                            <li><a class="jiathis_button_tsina" href="javascript:void(0)"><span class="iconfont icon-weibo"> </span>微博</a></li>
                          </ul>
                        </div>
                        <div class="pull-right report">
                        <a class="op-group-item" href="#"><span title="评论" class="glyphicon glyphicon-floppy-remove"> </span> 举报</a></div>
                    </div>
                    <div class="m-lr-15 add-comment">
                      <div class="panel panel-default">
                        <div class="panel-body">
                        
                          <textarea class="form-control to_input" rows="1"  type="text" placeholder="你想说些什么吗。。。"></textarea>
                          <div class="comment-op">
                            <div class="text-right m-t-sm">
                              <a class="btn pull-left btn-sm emoji m-r-xs" href="javascript:void(0)"  style="border: 1px solid #eee;">: )</a>
                              <a href="javascript:void(0)" title="上传图片" class="pull-left btn btn-sm img_uploap" style="border: 1px solid #eee;"><span class="glyphicon glyphicon-picture"></span></a>
                              <a class="btn btn-info btn-sm c-submit" data-cid="0" data-loading-text="提交中..." href="javascript:void(0)">评论</a>
                              <a class="btn btn-default btn-sm c_close" href="javascript:void(0)">取消</a>
                            </div>
                            <div class="upload-img-container "><ul class="images media-picture over-h"><ul></div>
                            <input name="img[]" class="input" type="file" hidden="ture" accept="image/jpg,image/png,image/gif,image/jpeg" multiple="multiple">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="p-lr-15 border-b m-t-md m-b-md">
                      <div class="text-right" style="margin-bottom: -2px;"><span class="font-16 pull-left">{$topic.comment_count}个评论</span>
                        <!-- 排序 -->
                        <if condition = "$sort_type eq 'hot'">
                        <a class="sort active" href="javascript:void(0)">最热 <span class="glyphicon glyphicon-chevron-down"></span></a>
                        <else/>
                        <a class="sort" href="{:U('Topic/detail',array('id'=>$topic['id'],'sort_type'=>'hot'))}">最热 <span class="glyphicon glyphicon-chevron-down"></span></a>
                        </if>

                        <if condition = "$sort_type eq 'time_up'">
                        <a class="sort active" href="{:U('Topic/detail',array('id'=>$topic['id'],'sort_type'=>'time_down'))}">时间 <span class="glyphicon glyphicon-chevron-up time"></span></a>

                        <elseif condition = "$sort_type eq 'time_down'"/>
                        <a class="sort active" href="{:U('Topic/detail',array('id'=>$topic['id'],'sort_type'=>'time_up'))}">时间 <span class="glyphicon glyphicon-chevron-down time"></span></a>
                        <else/>
                        <a class="sort" href="{:U('Topic/detail',array('id'=>$topic['id'],'sort_type'=>'time_down'))}">时间 <span class="glyphicon glyphicon-chevron-down time"></span></a>
                        </if>
                        <!-- /排序 -->
                      </div>
                    </div>




                    <div class="m-lr-15 p-b-sm m-t-sm">

                        <include file="TopicContent:comment" />

                    </div>


                    <ul class="pager p-l-sm p-r-sm">
                      <if condition="$p neq 1">
                        <li class="previous" title="下一页"><a href="{:U('Topic/detail',array('p'=>$p-1,'id'=>$topic['id'],'sort_type'=>$sort_type))}"><<</a></li>
                      </if>
                      <if condition ="$p+1 elt $TotalPage">
                      <li class="next" title="下一页"><a href="{:U('Topic/detail',array('p'=>$p+1,'id'=>$topic['id'],'sort_type'=>$sort_type))}">>></a></li>
                      </if>
                    </ul>


                    {:W('Edit/edit')}



                </div>










                

                <div class="table-col t_u_t_c hidden-sm hidden-xs">
                    {:W('TopicUserHot/hotUser')}

                    
                </div>
            </div>

  
    </div>
    <form action="{:U('TopicComment/addComment',array('p'=>$p,'sort_type'=>'time_up'))}" method="post" id="submit-form">
      <input type="hidden" name="topic_id" value="{$topic.id}" />
      <input type="hidden" name="comment_id" value="" />
      <input type="hidden" name="imgStr" value="" />
      <input type="hidden" name="content" value="" />
    </form>
    <include file="Common/footer" />
</body>
<script type="text/javascript">
  var follow_url = '{:U("Follow/AjaxFollow",'',false,false)}';
  var collect_url = '{:U("Collection/AjaxCollecting",'',false,false)}';
  var zan_url = '{:U("TopicZan/AjaxZan",'',false,false)}';
  var topic_id = {$topic.id};
  var login_state = <if condition="session('?login')">true<else/>false</if>;
  var img_uploap_url = '{:U("Topic/addTopicUpload",'',false,false)}';
  var PUBLIC = "__PUBLIC__";
  var login_url = "{:U('Login/index')}";
  var this_url = window.location.href;
</script>

<script type="text/javascript" src="__PUBLIC__/js/assets/jquery.toaster.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/assets/jquery.scrollLoading.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/assets/jquery.cursor.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/assets/exif.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/topic.detail.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/topic.i-d.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/emoji.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home/follow.js"></script>
<script type="text/javascript">
  $(function(){
    <if condition="session('?message')">
      <if condition='session("message") eq "200"'>
      $.toaster({ priority : 'success', title : '<span class="glyphicon glyphicon-ok"> </span>', message : '发表成功'});
      <else />
      $.toaster({ priority : 'danger', title : '<span class="glyphicon glyphicon-remove"> </span>', message : '<php>echo session('message')</php>'});
      </if>
    <php>session('message',null);</php>
    </if>
  })
var jiathis_config = {
    summary:' ',
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
</html>
