<div class="bg-white u-main">
<div class="u_title">
  {$self}的话题
  <span class="pull-right m-t-xs tc-gray9 font-12">{$count}个话题</span>
</div>
<div style="margin-top:-10px">
<if condition="count($List) neq 0">
<volist name ='List' id="vo">
  <div class="p-b-sm border-b m-b-sm">
  <div class="media media-container list">
    <a class="pull-left">
      <img class="media-object u_icon" src="{:C('__DATA__')}/login_thumb/{$vo.user_icon|default='default.jpg'}" alt="..." >
    </a>
    <div class="media-body">
      <a href="{:U('/t/'.$vo['t_id'])}" class="media-heading" target="_blank">{$vo.t_title}</a>
      <div class="media-content tc-gray9">
          <a href="{:U('Topic/index',array('t'=>$vo['type_id']))}" class="topic-type" target="_blank">{$vo.type}</a>
          ·
          {$vo.discuss_count}个人在讨论
          ·
          <if condition="$vo['top_user_nickname'] neq ''">
          <a href="{:U('/u/'.$vo['top_user_id'],'',false,false)}">{$vo.top_user_nickname}</a>
          ·
          {$vo.update_time}发表了新评论
          <else />
          {$vo.update_time}
          </if>
          ·
          {$vo.t_browse}次浏览
      </div>
    </div>
  </div>
  </div>
</volist>
<else/>
<div class="text-center tc-gray9" style="height:210px;line-height:210px;">暂无话题</div>
</if>

<ul class="pager p-l-sm p-r-sm">
  <if condition="$p neq 1">
    <li class="previous" title="下一页"><a href="{:U('User/topic',array('id'=>$user_id,'p'=>$p-1))}"><<</a></li>
  </if>
  <if condition ="$p+1 elt $TotalPage">
  <li class="next" title="下一页"><a href="{:U('User/topic',array('id'=>$user_id,'p'=>$p+1))}">>></a></li>
  </if>
</ul>

</div>
</div>