<div class="bg-white u-main">
	<div class="u_title">
	  {$self}的评论
	  <span class="pull-right m-t-xs tc-gray9 font-12">{$count}个回复</span>
	</div>
	<volist name="List" id="vo">
		<if condition = "$vo['comment_id'] eq '0'">
			<div class="c-item p-b-sm m-b-sm">
				<div class="m-b-sm">
					在话题中 <a class="tc-main" target="_blank" href="{:U('/t/'.$vo['t_id'])}">{$vo.t_title}</a> 评论：
				</div>
				<div class="tc-gray6 m-b-sm">
					<a href="{:U('TopicComment/view',array('id'=>$vo['c_id']))}">{$vo.content}</a>
				</div>
				<div class="tc-gray9 font-12">
					{$vo.time}
				</div>
			</div>
		<else/>

			<div class="c-item p-b-sm m-b-sm">
				<div class="m-b-sm">
					在话题中 <a class="tc-main" target="_blank" href="{:U('/t/'.$vo['t_id'])}">{$vo.t_title}</a> 回复：<a class="tc-main" href="{:U('/u/'.$vo['receiver']['u_id'])}">{$vo.receiver.u_nickname}</a>
				</div>
				<div class="tc-gray6 m-b-sm">
					{$vo.content}
				</div>
				<div class="tc-gray9 font-12">
					{$vo.time} <a class="tc-main m-l-md" href="{:U('TopicComment/view',array('id'=>$vo['c_id']))}">查看</a>
				</div>
			</div>

		</if>
	</volist>

<ul class="pager p-l-sm p-r-sm">
  <if condition="$p neq 1">
    <li class="previous" title="下一页"><a href="{:U('User/comment',array('id'=>$user_id,'p'=>$p-1))}"><<</a></li>
  </if>
  <if condition ="$p+1 elt $TotalPage">
  <li class="next" title="下一页"><a href="{:U('User/comment',array('id'=>$user_id,'p'=>$p+1))}">>></a></li>
  </if>
</ul>
</div>