<include file="IndexContent/pv_header" />
<div class="row margin-bottom">
  <div class="col-xs-12">
    <h3 class="page-header">用户注册统计图</h3>
  </div>
	<!-- / .col-xs-12 -->
<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    注册折线图               
                    <div class="btn-group pull-right">
                      <a href="javascript:void(0)" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span id="mouth_show"><php>echo date('m');</php></span>月 <span class="caret"></span></a>
                      <ul id="reg_mouth" data-value="<php>echo date('m');</php>" class="dropdown-menu" style="z-index:9999">
                        <php>
                          for($i = 1 ; $i <= 12 ;$i++)
                            echo '<li><a data-mouth="'.$i.'" href="javascript:void(0)">'.$i.'月</a></li>'
                        </php>
                      </ul>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="reg-flot-line-chart"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

</div>



<!-- / .row -->