<ul class="category">
    <if condition="session('?login')">
        <li class="active" data-type="-1" data-Loading-fun="recommend"><a href="javascript:;">推荐</a></li>
        <li data-type="0" data-Loading-fun="loading"><a href="javascript:;">全部</a></li>
    <else/>
        <li class="active" data-type="0" data-Loading-fun="loading"><a href="javascript:;">全部</a></li>
    </if>
    <volist name="TypeList" id="vo">
        <li data-type='{$vo.id}' data-Loading-fun="loading">
		<a href="javascript:;">{$vo.type}</a>
        </li>
	</volist>
</ul>
