<div id="list_container" class=" bg-white">
    <volist name="List" id="vo">
        <div class="m-t-md p-md overflow-auto border-l-main">
            <a href="{$vo.url}" class="list-img" style="background-image: url('{:C('__DATA__')}/news_thumb/{$vo.image_thumb}')">
                <span class="mask-tags" style="background-color:{$vo['type'].color}">{$vo.sections}</span>
            </a>
            <div class="list-content">
                <div class="to"><a class="title" href="{$vo.url}">{$vo.title}</a></div>
                <!-- <div class="intro tc-gray6 text-over-3 hidden-xs"></div> -->
                <div class="info">

                    <span class="time tc-gray9"><span title="发布时间" class="iconfont icon-fabushijian pull-left m-r-xs"> {$vo.PublishTime}</span>
                    <br class="visible-xs">
                    <div class="tc-gray9  info-item-continer">
                        <span title="浏览" class="iconfont icon-liulanliang m-r-md"> {$vo.browse}</span><span title="评论" class="iconfont icon-pingjia"> {$vo.MessageCount}</span>
                    </div>
                </div>
            </div>
        </div>
    </volist>
</div>
