<div id="list_container" class=" bg-white" style="padding-top:0.1px">
    <volist name="List" id="vo">
        <div class="m-t-sm p-l-sm p-l-sm  border-l-main">
            <a href="{$vo.url}" class="list-img" style="background-image: url('{:C('__DATA__')}/news_thumb/{$vo.image_thumb}')">
                <span class="mask-tags">{$vo.type||default="其他"}</span>
            </a>
            <div class="list-content">
                <div class="to2"><a class="title" href="{$vo.url}">{$vo.title}</a></div>
                <div class="info">
                    <span class="font-smoothing tc-gray9">
                        <a href="#"><img class="i-user-icon" src="{:C('__DATA__')}/login_thumb/{$vo.user.icon|default='default.jpg'}" ></a>
                        <a href="#">{$vo.user.nickname}</a> ·
                        {$vo.PublishTime} · {$vo.browse}次浏览 · {$vo.comment_count} 次评论
                    </span>
                </div>
            </div>
        </div>
        <div class="list-hr m-l-sm m-r-sm m-t-sm"></div>
    </volist>
</div>
