  <!-- css -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="__PUBLIC__/assets/froalaeditor/css/froala_editor.css">
  <link rel="stylesheet" href="__PUBLIC__/assets/froalaeditor/css/froala_style.css">
  <link rel="stylesheet" href="__PUBLIC__/assets/froalaeditor/css/plugins/emoticons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
  <!-- js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  
  <script type="text/javascript" src="__PUBLIC__/assets/froalaeditor/froala_editor.min.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/assets/froalaeditor/js/plugins/emoticons.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/assets/froalaeditor/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/assets/froalaeditor/js/plugins/link.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/assets/froalaeditor/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/assets/froalaeditor/js/languages/zh_cn.js"></script>
  <script type="text/javascript">
    var ROOT = '__ROOT__';
    var PUBLIC = '__PUBLIC__';
    var DATAPATH = '{:C("__DATA__")}';
    $(function(){
    $('textarea[name="content"]').froalaEditor({
      placeholderText: '亲，说说你的看法吧^_^',
      heightMin: 200,
      language: 'zh_cn',
      pasteDeniedAttrs: ['class', 'id','style'],
      toolbarButtons: ['bold', 'italic', 'underline',  '|', 'formatOL', '|', 'insertLink', 'emoticons','undo']
    });

    $("a[href='https://froala.com/wysiwyg-editor']").remove();
    
  })

  </script>
