<div class="ttop">
	<i class="glyphicon glyphicon-chevron-up"></i>
</div>

<footer class="footer bg-black text-center">
    <div class="container">
        <div class="col-sm-8 col-xs-12">
            <div class="footer-l">
                <a target="_blank" class="border-no" href="{:U('Index/about')}">关于我们</a>
                <a target="_blank" href="{:U('Index/contact')}">联系我们</a>
                <a target="_blank" href="{:U('Index/join')}">加入我们</a>
                <a target="_blank" href="http://weibo.com/u/5640196040">新浪微博</a>
                
                <div class=" rights ">
                <span>2015-2016 © CL® campusleader.cn All rights reserved</span>
            </div>
            </div>
            
        </div>
        <div class="col-sm-2 col-xs-6 m-t-sm m-b-sm">
            <img src="{:U('Index/QRcode')}" style="width:100px;">
            <div class="tc-graya m-t-xs font-12">扫描二维码下载APP</div>
        </div>
        <div class="col-sm-2 col-xs-6 m-t-sm m-b-sm">
            <img src="__PUBLIC__/img/wsgzh.jpg" style="width:100px;">
            <div class="tc-graya m-t-xs font-12">扫描二维码关注微信公众号</div>
        </div>
    </div>
</footer>
