    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/img/cl.ico" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--响应式兼容-->
    <link rel="stylesheet" href="__PUBLIC__/css/assets/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css?v=20160320">
    <link rel="stylesheet" href="__PUBLIC__/css/home/footer.css?v=20160320">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css?v=20160323">
    <script src="__PUBLIC__/js/assets/jquery.min.js"></script>
    <script src="__PUBLIC__/js/assets/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/home/nav.js"></script>
    <script src="__PUBLIC__/js/assets/jquery.toaster.js"></script>
    <script>
        $(function(){
            listContentWidthSet();
            $(window).resize(function(){
                listContentWidthSet()
            });
        })

        function listContentWidthSet(){
            var client = document.documentElement.clientWidth;
            if(client < 768){
                $('.list-content').css('maxWidth',client-$('.list-img').first().width()-30);
            }
        }

    </script>
